{% block footer %}
<footer class="footer">
    <div class="container">
        <div class="row text-center text-lg-start">
            <div class="col-lg-4 mb-3">
                <h5 class="footer-title">MEDDICAL</h5>
                <p>Leading the Way in Medical Excellence, Trusted Care.</p>
            </div>
            <div class="col-lg-2 mb-3">
                <h6 class="footer-title">Important Links</h6>
                <ul class="list-unstyled">
                    <li><a href="#">Appointment</a></li>
                    <li><a href="#">Doctors</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">About Us</a></li>
                </ul>
            </div>
            <div class="col-lg-3 mb-3">
                <h6 class="footer-title">Contact Us</h6>
                <ul class="list-unstyled">
                    <li>Call: (237) 681-812-255</li>
                    <li>Email: fildineesoe@gmail.com</li>
                    <li>Address: 0123 Some place</li>
                    <li>Some country</li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h6 class="footer-title">Đặt lịch ngay!</h6>
                <form class="d-flex">
                    <input type="text" class="form-control me-2" placeholder="Enter your phone number" name="phone">
                    <button class="btn" type="submit">&#10148;</button>
                </form>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 text-center">
                <p>© 2024 OU Medical. All Rights Reserved.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <div class="social-icons">
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                    <a href="#"><i class="bi bi-facebook"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>

{% endblock %}