{% extends './layouts/base_staff.html' %}

{% block title %}
    Danh sách hoá đơn
{% endblock %}

{% block styles %}
    <!-- <link rel="stylesheet" class="css" href="{{ url_for('static', filename='css/staff/cashier/index.css')}}"> -->
{% endblock %}



{% block content %}
<!-- <div class="nav-bar d-flex justify-content-between">
    <div class="seach-box d-flex align-items-center">
        <input type="text" class="form-control" placeholder="Search...">
        <button class="btn"><i class="fas fa-search"></i></button>
    </div>
    <div class="control d-flex align-items-center gap-3">
        <div id="view-type">
            <i class="fas fa-th"></i>
        </div>

        <nav>
            <ul class="pagination justify-content-end m-0">
                <li class="page-item
                    {% if page == 1 %}
                        disabled
                    {% endif %}">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true"> <i class="fas fa-angle-left"></i></a>
                </li>                
                <li class="page-item active" aria-current="page">
                    <div class="div d-flex align-items-center text-center">
                        <input type="text" class="form-control" value="1" style="width: 50px;" />
                        <span>/</span>
                        <span class="total-page" style="width: 50px;" >10</span>
                    </div>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#"> <i class="fas fa-angle-right"></i></a>
                </li>
            </ul>
        </nav>          
    </div>
</div> -->

<table id="example" class="display">
    <thead>
        <tr>
            <th>Mã hoá đơn</th>
            <th>Ngày tạo</th>
            <th>Tên bệnh nhân</th>
            <th>Người khám</th>
            <th>Tổng tiền</th>
            <th>Trạng thái</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        <!-- Auto fill -->
    </tbody>
</table>

<script src="{{url_for('static', filename='js/staff/cashier/invoices.js')}}"></script>

{% endblock %}

