{% extends './layouts/base_staff.html' %}

{% block title %}
    Dashboard
{% endblock %}

{% block styles %}
    <link rel="stylesheet" class="css" href="{{ url_for('static', filename='css/staff/doctor/index.css')}}">
{% endblock %}



{% block content %}
<div class="row p-0 justify-content-between stat">
    <div class="box col-lg-4 col-md-4 col-12">
        <h5>PATIENTS</h5>
        <canvas id="patiens_chart"></canvas>
    </div>
    <div class="box col-lg-4 col-md-4 col-12">
        <h5>HEALING INDEX</h5>
        <canvas id="healing_chart"></canvas>
    </div>
    <div class="box col-lg-4 col-md-4 col-12">
        <h5>ALIMENT INDEX</h5>
        <canvas id="disease_chart"></canvas>
    </div>
</div>
<div class="table-responsive mt-3">
    <table class="table table-striped table-hover" id="examination_list">
        <thead>
            <tr>
                <th scope="col">Mã LK</th>
                <th scope="col">Họ </th>
                <th scope="col">Tên </th>
                <th scope="col">Giới tính</th>
                <th scope="col">Nhóm máu</th>
                <th scope="col">SĐT</th>
                <th scope="col">Bác sĩ</th>
                <th scope="col">Ngày khám</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>  
<script src="{{url_for('static', filename='js/staff/doctor/index.js')}}"></script>
{% endblock %}

