.bg-white {
    background-color: #ffffff;
    border-radius: 1rem;
    color: #333;
    padding: 1rem;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    padding-right: 10px;
    gap: 1rem;
}

.search-bar input {
    border: none;
    background-color: transparent;
    flex-grow: 1;
    outline: none;
    font-size: 16px;
    color: #666;
}

#appointment-history>p{
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.search-bar button {
    background-color: #a0c4ff;
    color: #333;
    border: none;
    border-radius: 20px;
    padding: 8px 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    width: 100px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.search-bar button:hover {
    background-color: #87b3f7;
}

.history {
    margin-top: 20px;
}

.appointment-item {
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    border-bottom: black;
}

.appointment-item .info {
    display: flex;
    justify-content: space-around;
    flex: 1;
    font-size: 16px;
    color: #555;
}

.details-button {
    background-color: #a0c4ff;
    color: #333;
    border: none;
    border-radius: 20px;
    padding: 8px 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    white-space: nowrap; /* Ngăn nút bị xuống dòng */
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.details-button:hover {
    background-color: #87b3f7;
}