{% extends 'admin/base_admin.html' %}

{% block content %}
    <div class="box ">
        <h5>THỐNG KẾ THUỐC THÁNG {{ month }}</h5>
        <canvas id="medicineChart"></canvas>
    </div>
    <!-- Form chứa selectbox và nút -->
    <div class="box mt-3">
        <form method="GET" action="{{ url_for('medicine_stats.index') }}" class="d-flex">
            <select name="month" class="form-select me-2" aria-label="Chọn tháng">
                <option value="1" {% if month == 1 %} selected {% endif %}>Tháng 1</option>
                <option value="2" {% if month == 2 %} selected {% endif %}>Tháng 2</option>
                <option value="3" {% if month == 3 %} selected {% endif %}>Tháng 3</option>
                <option value="4" {% if month == 4 %} selected {% endif %}>Tháng 4</option>
                <option value="5" {% if month == 5 %} selected {% endif %}>Tháng 5</option>
                <option value="6" {% if month == 6 %} selected {% endif %}>Tháng 6</option>
                <option value="7" {% if month == 7 %} selected {% endif %}>Tháng 7</option>
                <option value="8" {% if month == 8 %} selected {% endif %}>Tháng 8</option>
                <option value="9" {% if month == 9 %} selected {% endif %}>Tháng 9</option>
                <option value="10" {% if month == 10 %} selected {% endif %}>Tháng 10</option>
                <option value="11" {% if month == 11 %} selected {% endif %}>Tháng 11</option>
                <option value="12" {% if month == 12 %} selected {% endif %}>Tháng 12</option>
            </select>
            <button type="submit" class="btn btn-primary m-1">Xem</button>
        </form>

        <form method="POST" action="{{ url_for('medicine_stats.print_report') }}" target="_blank" class="mt-3">
            <input type="hidden" name="month" value="{{ month }}">
            <button type="submit" class="btn btn-primary mt-1">In báo cáo</button>
        </form>
    </div>


    <div class="box mt-3">
        <table id="myTable" class="table table-hover">
            <thead>
            <th scope="col">STT</th>
            <th scope="col">Thuốc</th>
            <th scope="col">Đơn vị tính</th>
            <th scope="col">Số lượng</th>
            <th scope="col">Số lần dùng</th>
            </thead>

            <tbody>
            {% for ten, donVi, so_lan_dung,soLuong in stats %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ ten }}</td>
                    <td>{{ donVi }}</td>
                    <td>{{ soLuong }} </td>
                    <td> {{ so_lan_dung }} lần</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <script>

        $(document).ready(function () {
            $('#myTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.13.6/i18n/vi.json"
                }
            });
        });


        const ctx = document.getElementById('medicineChart');

        data = []
        labels = []
        label = 'THỐNG KÊ DỮ LIỆU THUỐC THÁNG ' + {{ month }}

        {% for ten, donVi, tong_so_luong, soLuong in stats %}
            data.push({{ tong_so_luong }})
            labels.push(`{{ ten }}`);
        {% endfor %}

        console.log(data)
        console.log(labels)

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: label,
                    data: data,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
{% endblock %}