{% extends 'layouts/base.html' %}

{% block style %}
{% endblock %}

{% block content %}
    <div>
        <h1>Đặt lịch khám</h1>
        <p>Để đặt lịch khám, vui lòng điền vào mẫu sau:</p>
    </div>
    <div class="row">
        <div class="appointment-form col-md-8">
            {% if msg %}
                <div class="alert alert-danger">
                    <p>{{ msg }}</p>
                </div>
            {% endif %}
            <form action="/appointment" method="POST" class="row g-3">
                <div class="form-floating mb-3 col-md-6">
                    <input class="form-select" type="date" name="date_inp" id="date_inp" required min="" max="">
                    <label for="date">Ngày khám</label>
                </div>
                <div class="form-floating mb-3 col-md-6">
                    <select class="form-select" name="time" id="time" required>
                        <option value="SANG" selected>Ca 1 (07:00 - 11:00h)</option>
                        <option value="CHIEU">Ca 2 (13:00 - 17:00h)</option>
                        <option value="TOI">Ca 3 (18:00 - 22:00h)</option>
                    </select>
                    <label for="time">Giờ khám</label>
                </div>

                <div class="form-floating mb-3 col-md-12">
                    <textarea class="form-control" id="note" name="note" placeholder="Ghi chú"></textarea>
                    <label for="note">Ghi chú</label>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary w-100">Đặt lịch</button>
                </div>
            </form>
        </div>
        <div id="carouselExampleDark" class="carousel carousel-dark slide col-md-4 bg-light rounded" data-bs-ride="carousel"
             style="height: 400px;">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="{{ url_for('static', filename='/images/logo.png') }}" class="d-block w-100" alt="...">
                    <div class="caption-container">
                        <h5>Chất lượng xây dựng uy tín</h5>
                        <p>Nền tảng hoạt động trong lĩnh vực lâu năm với nhiều kinh nghiệm.</p>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{{ url_for('static', filename='/images/img.png') }}" class="d-block w-100" alt="...">
                    <div class="caption-container">
                        <h5>Chất lượng xây dựng uy tín</h5>
                        <p>Nền tảng hoạt động trong lĩnh vực lâu năm với nhiều kinh nghiệm.</p>
                    </div>
                </div>
{#                <div class="carousel-item">#}
{#                    <img src="{{ url_for('static', filename='/images/medical.gif') }}" class="d-block w-100" alt="...">#}
{#                    <div class="caption-container">#}
{#                        <h5>Chất lượng xây dựng uy tín</h5>#}
{#                        <p>Nền tảng hoạt động trong lĩnh vực lâu năm với nhiều kinh nghiệm.</p>#}
{#                    </div>#}
{#                </div>#}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="shedule">

    </div>

    <script>
        const today = new Date();
        const todayISO = new Date(today.getTime() - today.getTimezoneOffset() * 60000).toISOString().split('T')[0];
        console.log(todayISO);
        const maxDate = new Date();
        maxDate.setDate(today.getDate() + 7);
        const maxDateISO = new Date(maxDate.getTime() - maxDate.getTimezoneOffset() * 60000).toISOString().split('T')[0];

        const dateInput = document.getElementById('date_inp');
        dateInput.min = todayISO;
        dateInput.max = maxDateISO;

        dateInput.value = todayISO;
    </script>

{% endblock %}