<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World!!!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/awesome_font.css') }}">
</head>
<body>
    <h1>Hello World!</h1>
    <h2>How are you?</h2>
    <h3>What's your name?</h3>
    <h4>What's your name?</h4>
    <h5>What's your name?</h5>
    <h6>What's your name?</h6>
    <p>My name is {{ name }}</p>
    <form action="" method="post">
        <label for="name">
            <input type="text" name="name" id="name" title="Nhập tên của bạn" placeholder="Meow">
            <button type="submit">Đặt<i class="fa-solid fa-hand"></i></button>
        </label>
    </form>
</body>
</html>