{% extends 'layouts/base.html' %}

{% block content %}


    <div class="container mt-4">
        {% if msg %}
            <div class="alert alert-danger">
                <h4>{{ msg }}</h4>
            </div>
        {% endif %}

        <div class="appointment-form col-md-8 m-4">
            <h1>Đăng nhập</h1>
        </div>

        <form method="POST" class="row g-3" enctype="multipart/form-data">
            <div class="row mb-3 h-50">
                <div class="col-md-10">
                    <input class="form-control" name="info" id="info" required style="height: 65px;" type="text"
                           placeholder="Nhập SĐT hoặc email">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary w-100" id="getOtpButton" style="height: 65px;background-color: #a0c4ff;border: none;color: #333" type="button"
                            onclick="sendOtp()">Lấy mã OTP
                    </button>
                </div>
            </div>

            <div class="row h-50">
                <div class="col-md-10">
                    <input class="form-control" required name="otp" type="text" style="height: 65px"
                           placeholder="Nhập mã OTP">
                </div>
                <div class="col-md-2">
                    <input type="submit" class="btn btn-primary w-100" style="height: 65px;background-color: #a0c4ff;border: none;color: #333" value="Xác nhận">
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/patient_login.js') }}"></script>
{% endblock %}