{% extends 'layouts/base.html' %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 50vh;">
    <div class="" style="min-width: 350px; width: 40%;">
        {% if msg %}
            <div class="alert alert-danger">
                <p>{{ msg }}</p>
            </div>
        {% endif %}

        <div class="appointment-form col-md-8 my-4">
            <h1>Đăng nhập</h1>
        </div>

        <form method="POST" class="row g-3" enctype="multipart/form-data">
            <div class="d-flex gap-2 align-items-stretch">
                <div class="form-floating flex-grow-1">
                    <input class="form-control" name="info" id="info" required  type="text" placeholder="Nhập SĐT hoặc email">
                    <label for="info">Email hoặc Số điện thoại</label>
                </div>
                <div class="" style="width: 130px;">
                    <button class="btn btn-primary w-100" id="getOtpButton" style="background-color: #a0c4ff;border: none;color: #333;height: 100%; display: block;" type="button" >Lấy mã OTP
                    </button>
                </div>
            </div>

            <div class="d-flex gap-2" style="align-items: stretch;" id="otpInput">
                <div class="form-floating flex-grow-1">
                    <input class="form-control" required name="otp" type="text" placeholder="Nhập mã OTP" id="otp" value="">
                    <label for="otp">Mã OTP</label>
                </div>
                <div class="" style="width: 130px;">
                    <input type="submit" class="btn btn-primary w-100" style="background-color: #a0c4ff;border: none;color: #333; height: 100%; display: block;" value="Xác nhận">
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/patient_login.js') }}"></script>
{% endblock %}